Source: inetutils
Section: net
Maintainer: Guillem Jover <guillem@debian.org>
Vcs-Browser: https://git.hadrons.org/cgit/debian/pkgs/inetutils.git
Vcs-Git: https://git.hadrons.org/git/debian/pkgs/inetutils.git
Homepage: https://www.gnu.org/software/inetutils/
Standards-Version: 4.7.3
Build-Depends:
 debhelper-compat (= 13),
 debhelper (>= 13.10),
# Used by the test suite:
#  /etc/protocols and /etc/services
 netbase <!nocheck>,
#  netstat(1)
 net-tools <!nocheck>,
# Used by the build system:
 autoconf,
 automake,
 bison,
 gnulib,
 libsystemd-dev [linux-any],
 libreadline-dev,
 libncurses-dev,
 libpam0g-dev,
 libwrap0-dev,
 libcrypt-dev,
 libkrb5-dev,

Package: inetutils-syslogd
Architecture: any
Provides:
 ${syslogd:Provides},
 system-log-daemon,
Conflicts:
 ${syslogd:Provides},
 system-log-daemon,
Replaces:
 syslogd,
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 sysvinit-utils (>= 3.05-4~),
 netbase,
Description: system logging daemon
 The syslog daemon is responsible for providing logging of messages
 received from programs and facilities on the local host as well as
 from remote hosts.

Package: inetutils-inetd
Architecture: any
Provides:
 inet-superserver,
Conflicts:
 inet-superserver,
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 inetutils-syslogd | system-log-daemon | systemd-sysv,
 sysvinit-utils (>= 3.05-4~),
 tcpd,
 update-inetd,
Description: internet super server
 Inetd is the daemon that listens on various TCP and UDP ports and spawns
 programs that can't or won't do it for themselves.
 .
 This is the portable GNU implementation of inetd. The package supports
 IPv6, tcpmux services and unlimited server arguments.

Package: inetutils-ping
Architecture: any
Provides:
 ping,
Conflicts:
 ping,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 netbase,
Description: ICMP echo tool
 Ping uses ICMP to send out echo requests, and uses the reply packets to
 calculate latency between the sending and the destination hosts.
 .
 This is the portable GNU implementation of ping.

Package: inetutils-traceroute
Architecture: any
Provides:
 traceroute,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 netbase,
Description: trace the IPv4 route to another host
 The traceroute utility displays the route taken by IP packets on their
 way to another host or another network.
 .
 Install this package if you need a tool to examine network connectivity
 or to diagnose network problems.

Package: inetutils-tools
Architecture: any
Provides:
 ${tools:Provides},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: base networking utilities (experimental package)
 Base utilities for network administration:
 .
  - ifconfig
  - hostname
  - dnsdomainname
  - logger
 .
 WARNING: The current ifconfig implementation provided is not fully
 compatible with the net-tool's ifconfig version.

Package: inetutils-ftp
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 netbase,
Description: File Transfer Protocol client
 The ftp command is used to transfer files between hosts using the
 FTP protocol.

Package: inetutils-ftpd
Architecture: any
Provides:
 ftp-server,
Conflicts:
 ftp-server,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 inetutils-inetd | inet-superserver,
 inetutils-syslogd | system-log-daemon | systemd-sysv,
 netbase,
Description: File Transfer Protocol server
 Ftpd is the server that allows another host to connect with the ftp
 command to transfer files using the FTP protocol.

Package: inetutils-telnet
Priority: standard
Architecture: any
Provides:
 telnet,
 telnet-client,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 netbase,
Description: telnet client
 The telnet command is used for interactive communication with another host
 using the TELNET protocol.
 .
 This implementation supports Kerberos, for authentication and encryption.

Package: telnet
Section: oldlibs
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 inetutils-telnet,
Description: transitional dummy package for inetutils-telnet default switch
 This package will force a switch from the old netkit telnet implementation
 to the inetutils-telnet one, which is an upstream maintained project.
 .
 This package can be safely removed once it has been upgraded, as
 inetutils-telnet provides a matching virtual package. It will stop being
 provided after Debian bookworm's release.
 .
 If you want to keep using the netkit implementation, then install
 telnet-ssl instead.

Package: inetutils-telnetd
Architecture: any
Provides:
 telnetd,
 telnet-server,
Conflicts:
 telnet-server,
Breaks:
 telnetd (<< 0.17-46),
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 inetutils-inetd | inet-superserver,
 inetutils-syslogd | system-log-daemon | systemd-sysv,
 login,
 netbase,
Description: telnet server
 The telnetd program is a server which supports the DARPA telnet
 interactive communication protocol.
 .
 This implementation supports Kerberos, for authentication and encryption.

Package: telnetd
Section: oldlibs
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 inetutils-telnetd,
 update-inetd,
Description: transitional dummy package for inetutils-telnetd default switch
 This package will force a switch from the old netkit telnetd implementation
 to the inetutils-telnetd one, which is an upstream maintained project.
 .
 This package can be safely removed once it has been upgraded, as
 inetutils-telnetd provides a matching virtual package. It will stop being
 provided after Debian bookworm's release.
 .
 If you want to keep using the netkit implementation, then install
 telnetd-ssl instead, and run in.telnetd with the «-z nossl» argument for
 the clear-text protocol.

Package: inetutils-talk
Architecture: any
Provides:
 talk,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 netbase,
Description: talk to another user
 The talk program is used for visual communication which copies lines from
 your terminal to that of another user.

Package: inetutils-talkd
Architecture: any
Provides:
 talkd,
Conflicts:
 talkd,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 inetutils-inetd | inet-superserver,
 inetutils-syslogd | system-log-daemon | systemd-sysv,
 netbase,
Description: remote user communication server
 The talkd program is a server that notifies a user that someone else
 wants to initiate a conversation. It acts a repository of invitations,
 responding to requests by clients wishing to rendezvous to hold a
 conversation.
