Source: inetutils
Section: net
Priority: standard
Maintainer: Jeff Bailey <jbailey@nisa.net>
Uploaders: Jeff Bailey <jbailey@nisa.net>, Marcus Brinkmann <brinkmd@debian.org>, Robert Millan <rmh@debian.org>
Standards-Version: 3.5.10
Build-Depends: cdbs, debhelper (>= 4.0), libreadline4-dev, libpam0g-dev, libopie-dev

Package: inetutils-whois
Section: net
Priority: standard
Architecture: any
Conflicts: whois, hurd (<= 20010718-1)
Depends: tcpd, ${shlibs:Depends}
Description: GNU networking utilities
 The GNU network utilities

Package: inetutils-syslogd
Section: base
Priority: required
Architecture: any
Provides: sysklogd
Replaces: syslogd
Depends: ${shlibs:Depends}, netbase
Description: System logging daemon
 The syslog daemon is responsible for providing logging of messages
 received from programs and facilities on the local host as well as
 from remote hosts.

Package: inetutils-telnet
Section: net
Priority: standard
Architecture: any
Provides: telnet
Replaces: telnet-hurd
Depends: ${shlibs:Depends}, netbase
Description: The telnet client
 The telnet command is used for interactive communication with another host
 using the TELNET protocol.

Package: inetutils-telnetd
Section: net
Priority: standard
Architecture: any
Provides: telnetd
Replaces: telnetd-hurd
Depends: ${shlibs:Depends}, netbase
Description: The telnet server
 The in.telnetd program is a server which supports the DARPA telnet interactive
 communication protocol.

Package: inetutils-talk
Section: net
Priority: standard
Architecture: any
Provides: talk
Depends: ${shlibs:Depends}, netbase
Replaces: talk-hurd
Description: Talk to another user
 Talk is a visual communication program which copies lines from your terminal
 to that of another user.

Package: inetutils-talkd
Section: net
Priority: standard
Architecture: any
Provides: talkd
Replaces: talkd-hurd
Depends: ${shlibs:Depends}, netbase
Description: Remote user communication server
 Talkd is the server that notifies a user that someone else wants to initiate
 a conversation.  It acts a repository of invitations, responding to requests
 by clients wishing to rendezvous to hold a conversation.

Package: inetutils-ping
Section: net
Priority: standard
Architecture: any
Conflicts: hurd (<= 20010718-1)
Depends: ${shlibs:Depends}, netbase
Description: ICMP ECHO tool
 Ping (The Packet InterNet Gropper) uses ICMP to send out echo requests,
 and uses the reply packets to calculate latency between the sending and
 the destination hosts.

Package: inetutils-inetd
Section: net
Priority: standard
Architecture: any
Depends: ${shlibs:Depends}, netbase
Description: Internet Super Server
 Inetd is the daemon that listens on various tcp and udp ports and spawns
 programs that can't or won't do it for themselves.

Package: inetutils-ftp
Section: net
Priority: standard
Architecture: any
Depends: ${shlibs:Depends}, netbase
Description: File Transfer Protocol client
 Ftp is the GNU Inetutils ftp client

Package: inetutils-ftpd
Section: net
Priority: standard
Architecture: any
Depends: ${shlibs:Depends}, netbase
Description: File Transfer Protocols Server
 Ftpd is the GNU Inetutils FTP server.

