#!/usr/bin/make -f
# This file is PUBLIC DOMAIN.

DEB_TAR_SRCDIR := inetutils-1.4.2+20040207
DEB_BUILDDIR = $(DEB_SRCDIR)/build

# ping is setuid
DEB_FIXPERMS_EXCLUDE = bin/ping

DEB_AUTO_UPDATE_AUTOMAKE=1.8
DEB_AUTO_UPDATE_AUTOCONF=2.50

mandir = usr/share/man
man1dir = $(mandir)/man1
man8dir = $(mandir)/man8

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
DEB_CONFIGURE_LIBEXECDIR ="\$${prefix}/sbin"

# Set proper Priority and Section
clean ::
ifeq ($(DEB_BUILD_GNU_SYSTEM),linux)
	cat debian/control.in \
	| sed 's/@inetutils:Priority@/optional/g' \
	| sed 's/@syslogd:Priority@/optional/g' \
	| sed 's/@syslogd:Section@/net/g' \
	| sed 's/@tools:Provides@/inetutils-tools/g' \
	> debian/control
else
	cat debian/control.in \
	| sed 's/@inetutils:Priority@/standard/g' \
	| sed 's/@syslogd:Priority@/required/g' \
	| sed 's/@syslogd:Section@/base/g' \
	| sed 's/@tools:Provides@/net-tools/g' \
	> debian/control
endif

# Move ping to /bin
install/inetutils-ping ::
	mkdir debian/tmp/bin
	mv debian/tmp/usr/bin/ping debian/tmp/bin/
	mv debian/tmp/usr/bin/ping6 debian/tmp/bin/

# Rename ifconfig to not break existing systems using net-tools
install/inetutils-tools ::
	mv debian/tmp/usr/bin/ifconfig debian/tmp/usr/bin/inetutils-ifconfig

# Rename inetd to be able to coexist with not purged netkit-inetd
install/inetutils-inetd ::
	mv debian/tmp/usr/sbin/inetd debian/tmp/usr/sbin/inetutils-inetd
	mv debian/tmp/$(man8dir)/inetd.8 debian/tmp/$(man8dir)/inetutils-inetd.8

# Needed to enable alternatives
install/inetutils-telnet ::
	mv debian/tmp/usr/bin/telnet debian/tmp/usr/bin/inetutils-telnet
	mv debian/tmp/$(man1dir)/telnet.1 debian/tmp/$(man1dir)/inetutils-telnet.1

install/inetutils-ftp ::
	mv debian/tmp/usr/bin/ftp debian/tmp/usr/bin/inetutils-ftp
	mv debian/tmp/$(man1dir)/ftp.1 debian/tmp/$(man1dir)/inetutils-ftp.1

install/inetutils-talk ::
	mv debian/tmp/usr/bin/talk debian/tmp/usr/bin/inetutils-talk
	mv debian/tmp/$(man1dir)/talk.1 debian/tmp/$(man1dir)/inetutils-talk.1

